body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}

.contenedor-principal{
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
    display: flex;
}

.principal{
    display: inline-block;
    width: 66.2vw;
    height: 100%;
    position: relative;
}

.logo{
    margin: 3.9vh 2.7vw;
    display: block;
}

.textfield{
    border: none;
    width: 45.6vw;
    height: 60vh;
    overflow-wrap: break-word;
    background: none;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
    margin-left: 16vw;
    margin-top: 2vh;
    resize: none;
}

.textfield:focus{
    outline: none;
}

.textfield::placeholder{
    color: #0A3871;
}

.acciones{
    margin-left: 16vw;
    position: absolute;
    margin-bottom: 7vh;
    bottom: 0;
}

.aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.aviso-imagen{
    display: inline;
}

.aviso-texto{
    display: inline;
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
    color: #495057;
    opacity: 0.8;
}

.botones-accion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.6vw;
}

.encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 22vw;
    height: 6.5vh;
    background: #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #ffffff;
    transition: 0.5s;
}

.encriptar:active{
    background: #D8DFE8;
    color: #0A3871;
    opacity: 0.7;
}

.desencriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 22vw;
    height: 6.5vh;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    transition: 0.5s;
}

.encriptar:hover, .desencriptar:hover{
    transform: scale(1.05);
    font-weight: bold;
    cursor: pointer;
}

.desencriptar:active{
    background: #0A3871;
    color: #ffffff;
    opacity: 0.7;
}

.resultado{
    display: inline-block;
    width: 24vw;
    height: 86vh;
    background: #ffffff;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.8);
    margin: 3.9vh 2.7vw;
    padding: 3.1vh 2.2vw;
    position: relative;
}

.muñeco{
    width: 24vw;
    margin-top: 16.9vh;
}

.no-encontrado{
    font-size: 24px;
}

/*.requerimiento{
    display: none;
}*/

.div-resultado{
    width: 100%;
    height: 100%;
    display: none;
}

.texto-resultante{
    width: 100%;
    height: 85%;
    font-size: 24px;
    line-height: 150%;
    border: none;
    overflow-wrap: break-word;
    background: none;
    color: #495057;
    resize: none;
}

.texto-resultante:focus{
    outline: none;
}

.copiar{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 auto 7vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 15vw;
    height: 7.050%;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 16px;
    color: #0A3871;
    transition: 0.5s;
    transform: translate(-50%, 50%);
}

.copiar:hover{
    transform: translate(-50%, 50%) scale(1.05);
    font-weight: bold;
    cursor: pointer;
}

.copiar:active{
    background: #0A3871;
    color: #ffffff;
    opacity: 0.7;
}